<!--a super-short primer on Angular’s template syntax:-->
<!--[property]="expression": set property of an element to the value of expression-->
<!--(event)="statement": execute statement when event occurred-->
<!--[(property)]="expression": create two-way binding with expression-->
<!--[class.special]="expression": add special CSS class to element when the value of expression is truthy-->
<!--[style.color]="expression": set color CSS property to the value of expression-->

<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <!-- an input to create a new todo:-->
    <!--[(ngModel)]="newTodo.title" :adds a two-way binding between the input value and newTodo.title-->
    <!--(keyup.enter)="addTodo()": tells Angular to execute addTodo() when the enter key was pressed while typing in the input element-->
    <!--We first define a newTodo property and assign a new Todo() when the component class is instantiated. -->
    <!--This is the same Todo instance specified in the two-way binding expression of [(ngModel)] in our view:-->
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </header>
  <!--Next there is a section to display existing todo’s:-->
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <!--loop over all todo’s and assign current todo to a variable called todo for each iteration-->
      <!--apply CSS class completed to li element when todo.complete is truthy-->
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <!--and finally we display todo details for each individual todo:-->
        <div class="view">
          <!--execute toggleTodoComplete(todo) when the checkbox is clicked-->
          <!--assign the value of todo.complete to the property checked of the element-->
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <!--execute removeTodo(todo) when the destroy button is clicked-->
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>